*{
    margin: 0;
    padding: 0;
    
}

body{
    background-image: url(https://www.argentina.gob.ar/sites/default/files/carrusel_parque_nacional_lanin_03.jpg);
    background-repeat: no-repeat;
    background-size: 100% 35%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#grid-container{
    display: grid;
    background-color: rgb(34, 53, 21);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'texto texto'
        'imagen1 texto9'
        'imagen3 imagen4'
        'texto3 texto4'
        'imagen5 imagen6'
        'texto5 texto6'
        'imagen7 imagen8'
        'texto7 texto8';
    height: 5200px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.titulo{
    align-items: center;
}

.texto{
    background-color: rgb(34, 53, 21);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    background-color: rgb(109, 168, 86);
    grid-area: texto;
}



.imagen1{
    margin-left: 30px;
    grid-area: imagen1;
}

.texto9{
    margin-right: 30px;
    background-color: rgb(109, 168, 86);
    grid-area: texto9;
}


.imagen3{
    margin-left: 30px;
    background-color: rgb(34, 53, 21);
    grid-area: imagen3;
}

.imagen4{
    margin-right: 30px;
    background-color: rgb(34, 53, 21);
    grid-area: imagen4;
}

.texto3{
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: rgb(109, 168, 86);
    grid-area: texto3;
}

.texto4{
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(109, 168, 86);
    grid-area: texto4;
}

.imagen5{
    margin-left: 30px;
    background-color: rgb(34, 53, 21);
    grid-area: imagen5;
}

.imagen6{
    margin-right: 30px;
    background-color: rgb(34, 53, 21);
    grid-area: imagen6;
}

.texto5{
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: rgb(109, 168, 86);
    grid-area: texto5;
}

.texto6{
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(109, 168, 86);
    grid-area: texto6;
}

.imagen7{
    margin-left: 30px;
    background-color: rgb(34, 53, 21);
    grid-area: imagen7;
}

.imagen8{
    margin-right: 30px;
    background-color: rgb(34, 53, 21);
    grid-area: imagen8;
    text-align: center;
}

.texto7{
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: rgb(109, 168, 86);
    grid-area: texto7;
}

.texto8{
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: rgb(109, 168, 86);
    grid-area: texto8;
}



.fauna{
    font-size: 25px;
    margin-top: 40px;
}

h3{
    font-size: 35px;
}

h1{
    font-size: 50px;
    text-align: center;
}

ul a{
    text-decoration: none;
    color: black;
}

ul, ol{
    list-style: none;
}

.submenu li a:hover {
    background-color: red;
    
}

.submenu li a{
    display: none;
}

.submenu ul:hover  a{
    display: block;
    background-color:#87c9f7;
    animation:aparecer 2s;
}

#tituloPrinc{
    margin-top: 15%;
    text-align: center;
    color: white;
    font-size: 65px;

}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: #48aedc;
}


#logo{
    width: 100px;
    height: 100px;
}

#ingresar{
    font-size: 25px;
    margin-top: 28px;
}

#ingresar a{
    text-decoration: none;
    color: black;
}

#faunayflora{
    font-size: 25px;
    margin-top: 28px;
}

footer{
    background-color:#65728d;
}

.redes{
    width: 50px;
    height: 50px;
}

.contacto{
    text-align: end;
}

#redes{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #65728d;
}

.texto1{
    font-size: 20px;
}

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


