*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: #99D93B;
}

#logo{
    width: 100px;
    height: 100px;
}

#ingresar{
    font-size: 30px;
}



#grid-container{
    display: grid;
    background-color: #3BD959;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'texto1 imagen1'
    'imagen2 imagen3'
    'texto2 texto3'
    'imagen4 texto4';
    height: 700px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.texto1{
    grid-area: texto1;
}

#texto1{
    text-align: center;
    font-size: 25px;
}

.texto2{
    grid-area: texto2;
}

#texto2{
    text-align: center;
}

.texto3{
    grid-area: texto3;
}

#texto3{
    text-align: center;
}

.texto4{
    grid-area: texto4;
}

#texto4{
    text-align: center;
}

.imagen1{
    grid-area: imagen1;
    width: 100px;
    height: 100px;
}

#imagen1{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.imagen2{
    grid-area: imagen2;
    width: 100px;
    height: 100px;
}

#imagen2{
    width: 100%;
    height: 100%;
}
.imagen3{
    grid-area: imagen3;
    width: 100px;
    height: 100px;
}

#imagen3{
    width: 100%;
    height: 100%;
}

.imagen4{
    grid-area: imagen4;
    width: 100px;
    height: 100px;
}

#imagen4{
    width: 100%;
    height: 100%;
}

